<div class="container">
    <div class="innerContainer">
        <div class="header">
            <div class="title">
                <h1>Job Title : </h1>
                <h1>{{ jobTitle}}</h1>
            </div>
            <div class="innerHeader">
                <div class="level">
                    <h3>Level : </h3>
                    <h3>{{ level}}</h3>
                </div>
                <div class="payment">
                    <h3>Payment :</h3>
                    <h3>{{ payment}}</h3>
                </div>
            </div>
        </div>
        
        <div class="about">
            <div class="about-job">
                <h3>Job Description</h3>
                <p>
                    {{description}}
                </p>
            </div>
            <div class="about-user">
                <h3>Proposal</h3>
                <textarea ng-model="myTextarea"></textarea>
            </div>
        </div>
        <div class="apply">
            <button class="btn" >Apply Now</button>
        </div>
    </div>
</div>